/* You can add global styles to this file, and also import other style files */
@charset "utf-8";

@import 'utils/variables';
@import 'utils/core';

.loading {
  padding: 1em;
}

app-cop-navbar {
  height: 100%;
  width: 100%;
}
