/* You can add global styles to this file, and also import other style files */
@charset "utf-8";

@import 'utils/variables';
@import 'utils/core';
@import "./node_modules/bootstrap/scss/bootstrap";
@import '~angular-tree-component/dist/angular-tree-component.css';

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham-dark.css";
@import "~ag-grid-community/dist/styles/ag-theme-bootstrap.css";
@import "~ag-grid-community/dist/styles/ag-theme-blue.css";
@import "~ag-grid-community/dist/styles/ag-theme-fresh.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";


html, body {

  font-family: 'Roboto', 'sans-serif';
  height: 100%;
  margin: 1px;
  padding: 1px;
  color: white;

}

.loading {
  padding: 1em;
}

app-planning-board-view {
  height: 100%;
  width: 100%;
}



