/* You can add global styles to this file, and also import other style files */
@charset "utf-8";
@import "./node_modules/bootstrap/scss/bootstrap";
@import 'utils/variables';
@import 'utils/core';
@import '~angular-tree-component/dist/angular-tree-component.css';


html, body {

  font-family: 'Roboto', 'sans-serif';
  height: 100%;
  margin: 1px;
  padding: 1px;
  color: white;

}

.loading {
  padding: 1em;
}

app-planning-board-view {
  height: 100%;
  width: 100%;
}


