
<ul class="nav nav-pills nav-justified mb-3" id="participantsViewTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active text-light" id="participants-tab" data-toggle="tab" href="#participants" role="tab" aria-controls="participants" aria-selected="true">Participants</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" id="netPlan-tab" data-toggle="tab" href="#netPlan" role="tab" aria-controls="netPlan" aria-selected="false">Net Plan</a>
    </li>

  </ul>
  <div class="tab-content" id="participantsViewContent">
    <div class="tab-pane fade show active" id="participants" role="tabpanel" aria-labelledby="participants-tab">
            <tree-root class="text-warning" [nodes]="nodes"  [focused]="true" [options]="options"></tree-root>
    </div>

    <div class="tab-pane fade " id="netPlan" role="tabpanel" aria-labelledby="netPlan-tab">
        <div [ngStyle]="style" id="myGrid" class="ag-theme-blue">
            <ag-grid-angular 
              style="width: 100%; height: 100%"
              #agGrid
              [rowData]="rowData"
              [columnDefs]="columnDefs"
              [defaultColDef]="defaultColDef"
              rowSelection="multiple"
              [pagination]="true"
              (gridReady)="onGridReady($event)"
              (firstDataRendered)="onFirstDataRendered($event)"
              >
            </ag-grid-angular>
        </div>
    </div>
 
  </div>
