<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div> -->

<app-menu-bar  (visibleParticipant)="disabledEnabledParticipants($event)"
               (visiblePlanningBoard)="disabledEnabledPlanning($event)"
               (visibleProperty)="disabledEnabledPropertyInspector($event)"
               (visibleSpectrumDisplay)="disabledEnabledSpectrumDisplay($event)">

</app-menu-bar>



  <as-split direction="vertical" gutterSize="10">
   
    <as-split-area [size]="action.isVisibleMainDisplaySize" class="bg-info text-dark">
        <as-split gutterSize="10" direction="horizontal" [useTransition]="action.useTransition" (dragEnd)="dragEnd($event)" (gutterClick)="gutterClick( $event)">
              <as-split-area  [visible]="action.isVisibleParticipants" [size]="action.isVisibleParticipantsSize" [order]="action.ParticipantsOrder" >
                  <as-split direction="vertical" [useTransition]="true">
                     <app-participants-view></app-participants-view>
                  </as-split>
              </as-split-area>
                          
              <as-split-area  [visible]="action.isVisiblePlanningBoard" [order]="action.PlanningOrder"  [size]="action.isVisiblePlanningBoardSize">                        
                <as-split direction="vertical" [useTransition]="true"> 
                    <app-planning-board-view></app-planning-board-view>
              </as-split>                                           
              </as-split-area>

              <as-split-area [visible]="action.isVisiblePropertyInspector" [order]="action.InspectorOrder" [size]="action.isVisiblePropertyInspectorSize">
                  <as-split direction="vertical" [useTransition]="true">
                      <app-property-inspector></app-property-inspector>
                  </as-split>
              </as-split-area>                    
        </as-split>
    </as-split-area> <!--end of split area for 80% of page-->
 
    <!--Splite area for Inspectrum -->
    <as-split-area class="bg-info text-dark" [visible]="action.isVisibleSpectrumDisplay" [order]="action.SpectrumOrder" [size]="action.isVisibleSpectrumDisplaySize"> 
      <app-spectrum-display-view></app-spectrum-display-view>
    </as-split-area>

    </as-split> <!--end of vertical direction-->


    <!-- <div class="btns">
      <div class="btn-group">
          <label class="btn btn-warning" 
              [class.active]="!action.isVisibleParticipants" 
              (click)="action.isVisibleParticipants = !action.isVisibleParticipants">{{ 'Participants: ' + action.isVisibleParticipants }}</label>
          <label class="btn btn-warning" 
              [class.active]="!action.isVisiblePlanningBoard" 
              (click)="action.isVisiblePlanningBoard = !action.isVisiblePlanningBoard">{{ 'PlanningBoard: ' + action.isVisiblePlanningBoard }}</label>
          <label class="btn btn-warning" 
              [class.active]="!action.isVisiblePropertyInspector" 
              (click)="action.isVisiblePropertyInspector = !action.isVisiblePropertyInspector">{{ 'PropertyInspector: ' + action.isVisiblePropertyInspector }}</label>
          <label class="btn btn-warning" 
              [class.active]="!action.isVisibleSpectrumDisplay" 
              (click)="action.isVisibleSpectrumDisplay = !action.isVisibleSpectrumDisplay">{{ 'SpectrumDisplay: ' + action.isVisibleSpectrumDisplay }}</label>
              <label class="btn btn-warning" 
              
              (click)="toggleParticipants()">button</label>
      </div>
  </div> -->

<router-outlet></router-outlet>
