<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<app-menu-bar></app-menu-bar>


<div style="width: 100%; height: 100%; background: yellow;">
  <as-split direction="vertical">
   
    <as-split-area size="75" class="bg-info text-dark">
        <as-split direction="horizontal"   [useTransition]="action.useTransition">
              <as-split-area  [visible]="action.isVisibleParticipants" [order]="0" size="action.isVisibleParticipantsSize">
                  <as-split direction="vertical" [useTransition]="true">
                     <app-participants-view></app-participants-view>
                  </as-split>
              </as-split-area>
                          
              <as-split-area  [visible]="action.isVisiblePlanningBoard" [order]="1"  size="isVisiblePlanningBoardSize">                        
                <as-split direction="vertical" [useTransition]="true"> 
                    <app-planning-board-view></app-planning-board-view>
              </as-split>                                           
              </as-split-area>

              <as-split-area [visible]="action.isVisiblePropertyInspector" [order]="2" size="isVisiblePropertyInspectorSize">
                  <as-split direction="vertical" [useTransition]="true">
                      <app-property-inspector></app-property-inspector>
                  </as-split>
              </as-split-area>                    
        </as-split>
    </as-split-area> <!--end of split area for 80% of page-->
 
    <!--Splite area for Inspectrum -->
    <as-split-area class="bg-info text-dark" [visible]="action.isVisibleSpectrumDisplay" [order]="3" size="isVisibleSpectrumDisplaySize"> 
      <app-spectrum-display-view></app-spectrum-display-view>
    </as-split-area>

    </as-split> <!--end of vertical direction-->
    </div>

    <div class="btns">
      <div class="btn-group">
          <label class="btn btn-warning" 
              [class.active]="!action.isVisibleParticipants" 
              (click)="action.isVisibleParticipants = !action.isVisibleParticipants">{{ 'Participants: ' + action.isVisibleParticipants }}</label>
          <label class="btn btn-warning" 
              [class.active]="!action.isVisiblePlanningBoard" 
              (click)="action.isVisiblePlanningBoard = !action.isVisiblePlanningBoard">{{ 'PlanningBoard: ' + action.isVisiblePlanningBoard }}</label>
          <label class="btn btn-warning" 
              [class.active]="!action.isVisiblePropertyInspector" 
              (click)="action.isVisiblePropertyInspector = !action.isVisiblePropertyInspector">{{ 'PropertyInspector: ' + action.isVisiblePropertyInspector }}</label>
          <label class="btn btn-warning" 
              [class.active]="!action.isVisibleSpectrumDisplay" 
              (click)="action.isVisibleSpectrumDisplay = !action.isVisibleSpectrumDisplay">{{ 'SpectrumDisplay: ' + action.isVisibleSpectrumDisplay }}</label>
      </div>
  </div>

<router-outlet></router-outlet>
